
<h1>Hello, Rails!</h1>

<%= link_to 'articles/', controller: 'articles' %><br>

<%= render 'commands' %>
$ gem install rails
$ rails --version
$ rails new blog
$ rails generate controller Articles
$ rails generate controller Welcome index

<code>$ rails generate model Comment commenter:string body:text article references</code><br>

<code>$ rails generate controller Comments</code><br>

<code>$ gem install rss</code><br>

<code>$ gem install httparty</code><br>






