
<h1>Jamison's <%=@adjective%> Journalism</h1>
<h3>Articles that mean nothing. Simply here to fill the page.</h3>

<%= link_to 'ARTICLES', controller: 'articles' %><br>




<HR>
<%# <%= @titles.inspect %>

<h3>National Cyber Awareness System (NCAS) Latest Articles</h3>
<% @titles.each do |a| %>
<%= a %> <br>
<% end %>