
<h1>Hello, Rails!</h1>

<%= link_to 'articles/', controller: 'articles' %><br>


<code>$ rails generate model Comment commenter:string body:text article references</code><br>

<code>$ rails generate controller Comments</code><br>



<%# 
https://guides.rubyonrails.org/getting_started.html#adding-a-second-model
 %>
